.pickText {
  margin: 20px;
}

.pickDiv {
  position: absolute;
  right: 15%;
  top: 15%;
}

.titleSet {
  margin-top: 5%;
  margin-bottom: 5%;
}

.colorPurp {
  background-color: #707095;
}

.someText1 {
  overflow-y: auto;
}

.setOfCardSet {
  display: flex;
  flex-wrap: wrap;
}

.cardSet {
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
  margin: 20px;
  cursor: pointer;
}

.cardSet:hover {
  box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
  transform: translateY(-5px);
}


.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: auto;
  max-height: 150px;
}